<a href="https://colab.research.google.com/github/SivaPriyaRachakonda/Python/blob/main/Siva_Priya_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Write a program, defining atleast 15 variables and assign them the values which are of different data types.

# Good

In [ ]:
# int
a = 5
b = 6
c = a + b
print(c)

11

In [ ]:
x = 3,
y = 6
print (x)

(3,)

In [ ]:
a = 123456
b = 7890
c = a-b
print (c)

115566

In [ ]:
#FLOAT
x = 16.5
print (x)

16.5

In [ ]:
y = 2345.6
z = 567.8
a = y*z
print (a)

1331831.68

In [ ]:
a = 24.6
b = 68.7
c = a/b
print (c)

0.35807860262008734

In [ ]:
#STRING x = 'beautiful'
print (x)

beautiful

In [ ]:
a ='TRIVENI IS INTELLIGENT AND BEAUTIFUL GIRL'
b = ' SHE IS GOOD'
print (a + b )

TRIVENI IS INTELLIGENT AND BEAUTIFUL GIRL SHE IS GOOD

In [ ]:
c, a = 'university of south dakota ', 'usd'
b = c + a
print(c)
print(b)

university of south dakota
university of south dakota usd

In [ ]:
#2.create a list named friends_usa, add your friends and create another list named friends_india and add your friends. Now create total_friends list concatenating the above 2 lists. Finally convert the concatenated list to the set data structure and print all the above lists individually.
friends_usa = ['Triveni','Chandrika','kusuma']
friends_india = ['madhuri', 'sindhu','sandhya']
total_friends = friends_india + friends_usa
print (total_friends)
total_friends_set = set(total_friends)
print (total_friends_set)

['madhuri', 'sindhu', 'sandhya', 'Triveni', 'Chandrika', 'kusuma']
{'Chandrika', 'madhuri', 'sindhu', 'kusuma', 'sandhya', 'Triveni'}

In [ ]:
#3.Write a program explaining your expenses so far to study at USD including fee, flight tickets, rent....etc  [Now you choose appropriate data structure of your choice], also create a list which includes expected expenses from now to end your course at usd.
fees_1st_year = 12678
fees_2nd_year = 12678
flight_tickets = 2500
rent = 3000

# Calculate total expenses so far
total_expenses_so_far = fees_1st_year + fees_2nd_year + flight_tickets + rent
print("Total expenses so far:", total_expenses_so_far)

expected_expenses = ["textbooks","living expenses","transportation","utilities","miscellaneous"]


# Print the list of expected expenses
print("Expected expenses until the end of the course:")
print(expected_expenses)

Total expenses so far: 30856
Expected expenses until the end of the course:
['textbooks', 'living expenses', 'transportation', 'utilities', 'miscellaneous']

4.Create some random list, tuple, set and convert them to other data structure types. and print the type of each created data structure.

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print("List of Fruits:", fruits)
print("Type of List of Fruits:", type(fruits))
# Convert list to tuple
fruits_tuple = tuple(fruits)
print("Tuple converted from List of Fruits:", fruits_tuple)
print("Type of Tuple converted from List of Fruits:", type(fruits_tuple))
# Convert list to set
fruits_set = set(fruits)
print("Set converted from List of Fruits:", fruits_set)
print("Type of Set converted from List of Fruits:", type(fruits_set))

List of Fruits: ['apple', 'banana', 'orange', 'grape', 'kiwi']
Type of List of Fruits: <class 'list'>
Tuple converted from List of Fruits: ('apple', 'banana', 'orange', 'grape', 'kiwi')
Type of Tuple converted from List of Fruits: <class 'tuple'>
Set converted from List of Fruits: {'apple', 'banana', 'kiwi', 'orange', 'grape'}
Type of Set converted from List of Fruits: <class 'set'>

5.slicing

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

# Slicing
print("Slicing 1:", fruits[1:3])
print("Slicing 2:", fruits[:3])
print("Slicing 3:", fruits[2:])
print("Slicing 4:", fruits[::-1])
print("Slicing 5:", fruits[-3:])

Slicing 1: ['banana', 'orange']
Slicing 2: ['apple', 'banana', 'orange']
Slicing 3: ['orange', 'grape', 'kiwi']
Slicing 4: ['kiwi', 'grape', 'orange', 'banana', 'apple']
Slicing 5: ['orange', 'grape', 'kiwi']

In [ ]:
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

# Performing the append, insert, and remove
fruits.append("pear")
print("Append 'pear':", fruits)

fruits.insert(2, "pineapple")
print("Insert 'pineapple':", fruits)

# Remove "orange" in the list

fruits.remove("orange")
print("Remove 'orange':", fruits)

#Delete "grape" in the list

del fruits[3]
print("del 'grape':", fruits)

#pop
popped_fruit = fruits.pop()
print ("Popped fruit:", popped_fruit)

Append 'pear': ['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']
Insert 'pineapple': ['apple', 'banana', 'pineapple', 'orange', 'grape', 'kiwi', 'pear']
Remove 'orange': ['apple', 'banana', 'pineapple', 'grape', 'kiwi', 'pear']
del 'grape': ['apple', 'banana', 'pineapple', 'kiwi', 'pear']
Popped fruit: pear